body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4 ;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 8px 10px;
    top: 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-sizing:border-box;
   
}

header h1{
    margin: 0;
    color: white;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

nav ul li {
    display: inline;
    padding: 5px;
    text-decoration: none;
}

nav ul li a {
    color: white;
    font-size: 12px;
    }

nav ul li a:hover {
    text-decoration: underline;
}  

main{
    padding: 70px;
    text-align: justify;
}

h2{
    padding: 10px;
    text-align: left;
    color: #333
}

.background-containers {
    background: url("project_1_images/header_background.jpg") no-repeat center center;
    background-size: cover;
    padding: 0px;
    color: white;
    position: relative;
    text-align: center;
}
