body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4 ;
    color: #333;
}

header {

    background-color: #333;
    color: white;
    padding: 10px 0px;
    top: 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    z-index: 1000;

   
}

header h1{
    margin: 0;
    color: white;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

nav ul li {
    display: inline;
    padding: 5px;
    text-decoration: none;
}

nav ul li a {
    color: white;
    font-size: 12px;
    }

nav ul li a:hover {
    text-decoration: underline;
}  

.secondary-header {
    background: url("https://github.com/tes2sara/sara_tesfamariam/blob/main/project_1_images/background.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
}

main{
    padding: 70px;
    text-align: justify;
}

h2{
    padding: 10px;
    text-align: left;
    color: #333
}

