body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
    background: #f4f4f4 ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 60;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

header h1{
    margin: 0;
    color: white;
}

nav ul{
    list-style-type: none;
    margin: 2;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    font-size: 12px;
    }

nav ul li a:hover {
    text-decoration: underline;
}  

main{
    padding:10px;
}

h2{
    text-align: center;
    color: #333
}

.background-container {
    background: url("images/IMG_1458.jpg") no-repeat center center/cover;
    padding: 0;
    color: white;
    text-align: center;
}

.profile-container {
    display: flex;
    align-items: center;   
    padding: 0; 
}

.profile-picture {
    height: 200px;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.download-container{
    text-align: center;
    margin:20px 0;
    
    

}

.download-button{
    padding: 8px 15px;
    background-color: #b4b4b4;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3 ease;
}

.download-button:hover {
    background-color: #a1a1a1;
}

.header-container{
    background: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), 
    url("images/about_img.jpg") no-repeat center center/cover;
    padding: 100px 20px;
    color:white;
    text-align: center;
    position: relative;
    overflow: hidden;
}
