body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 2px; 
    padding: 2px;
    background: #f9f9f9;
    color: #333;  
}

head {
  background: #d5ede4;
  color: #fff;
  padding: 10px 0;
  text-align: center; 
}
main {
  padding: 20px;
  
  
}
