<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF -8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/main.css"}}">
</head>
<body>
  <header>
    <div class="profile-pic">
      <img src="C:\Users\tes2s\Pictures\Saved Pictures\Profile.jpg" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <h1>Sara Tesfamariam</h1>
      <p>Data Scientist</p>
    </div>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>Contact: <a href="mailto:{{site.email}}"> {{ site.email }}</a> | <a href="Phone {{ site.tel}}"> {{ site.tel}}</a> | <a href="LinkedIn {{ site.LinkedIn}}"> {{ site.LinkedIn}}</a> | <a href="GitHub: {{ site.GitHub}}"> {{ site.GitHub}}</a> </p>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title}}</p>
  </footer>
</body>
</html>
