<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF -8">
  <meta name="viewport" content="width=device-width, intial -scale=1.0">
  <title>{{page.title}} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/asset/main.css" | relative_url }}">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>Contact: < a href="mailto: {{ site.email }}">{{ site.email }}</a></p>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title}}</p>
  </footer>
</body>
</html>
