<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF -8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/main.css"}}">
</head>
<body>
  <header>
    <div class="profile-pic">
      
    </div>
    <div class="profile-info">
      <h1>Sara Tesfamariam</h1>
      <p>Data Scientist</p>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>Contact: <a href="mailto:{{site.email}}"> {{ site.email }}</a> | <a href="tel:+4794482203">94 48 22 03</a>  | <a href="https://www.linkedin.com/in/sara-tesfamariam-b47417199/">LinkedIn</a> | <a href="https://github.com/tes2sara">GitHub</a> </p>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title}}</p>
  </footer>
</body>
</html>
