body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
    background: #f4f4f4 ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 60;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 8px 10px;
    top: 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-sizing:border-box;
   
}

header h1{
    margin: 0;
    color: white;
}

main{
    padding:70px;
    text-align: justify;
}

h2{
    padding: 70px;
    text-align: left;
    color: #333
}

.background-container {
    background: url("project_1_folder/images/header_background.png") no-repeat center center/cover;
    padding: 100px;
    color: white;
    text-align: center;
}
